<div class="col-xs-12 settings_header panel-heading">
    <div class="settings_title">
        <a ng-click="previous()" class="navigation">
            <i class="glyphicon glyphicon-chevron-left pull-left"></i>
        </a>
        <a ng-click="next()" class="navigation">
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </a>
        Code barre
    </div>
</div>

<div class="col-md-12 panel-body settings_body">
    <div class="form-group no-padder m-t-md">
        <div class="col-xs-4 control-label text-left no-padder">Afficher le code barre</div>
        <div class="col-xs-2">
            <div ng-init="displayed = (displayed.toString() == 'true' ? true : false)" ng-model="displayed" ng-click="displayed = !displayed"
                ios-switch></div>
        </div>
    </div>

    <div class="clearfix"></div>
    <br>

    <div class="form-group no-padder">
        <div class="col-xs-3 control-label text-left no-padder">Type</div>
        <div class="col-xs-6">
            <select class="form-control" ng-model="barcodeType">
                <option ng-selected="{{code.value == barcodeType}}" value="{{code.value}}" ng-repeat="code in codeTypes ">{{code.name}}</option>
            </select>
        </div>
    </div>

    <div class="clearfix"></div>
    <br>

    <div class="form-group no-padder">
        <div class="col-xs-3 control-label text-left no-padder">Mode</div>
        <div class="col-xs-6">
            <select class="form-control" ng-model="barcodeMode">
                <option ng-selected="{{mode.value == barcodeMode}}" value="{{mode.value}}" ng-repeat="mode in modeTypes ">{{mode.name}}</option>
            </select>
        </div>
    </div>

    <div class="clearfix"></div>
    <br>

    <div class="form-group no-padder" ng-show="barcodeMode=='unitaire'">
        <div class="col-xs-3 control-label text-left no-padder">Numéro</div>
        <div class="col-xs-9">
            <input class="form-control" id="userInput" value="123456789101" ng-model="inputCode" placeholder="Veuillez sélectionner une valeur pour votre code barre" type="text" autofocus>
        </div>
    </div>

    <div class="form-group no-padder" ng-show="barcodeMode=='personalise'">
        <div class="col-xs-3 control-label text-left no-padder">Valeur</div>
        <div class="col-xs-9">
            <div class="input-group">
                <input id="input" type="text" class="form-control" ng-focus="inputSelected()" placeholder="Veuillez sélectionner une valeur pour votre code barre" ng-model="defaultValue">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="option in tagOptions">
                            <a href="" ng-click="insertText(option.name, item)">{{option.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <br>

    <div class="form-group no-padder m-t-md">
        <div class="col-xs-4 control-label text-left no-padder">Titre</div>
        <div class="col-xs-2">
            <div ng-init="display = (display.toString() == 'true' ? true : false)" ng-model="display" ng-click="display = !display" ios-switch></div>
        </div>

        <div class="clearfix"></div>
        <br/>

        <div class="form-group no-padder" ng-show="display">
            <div class="col-xs-12">
                <textarea class="form-control" name="titre-settings" ng-bind-html="titre | unsafe"></textarea>
            </div>
        </div>

    </div>