
<div class="col-xs-12 settings_header panel-heading">
    <div class="settings_title">
        <a ng-click="previous()" class="navigation"><i class="glyphicon glyphicon-chevron-left pull-left"></i></a>
        <a ng-click="next()" class="navigation"><i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
        Mon logo
    </div>
</div>

<div class="col-xs-12 panel-body settings_body">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="logo_image" ng-class="{'hide': isDefaultImage }">
            <img ng-src="{{src}}" />

            <div class="link_banner" ng-class="{link_banner_red : formLink }"  ng-hide="!hasLink"></div>

            <div class="logo_remove_handler">
                <i class="btn-hover-handler trash glyphicon glyphicon-trash" ng-click="deleteImage()"></i>

                <span class="btn-hover-handler link  " ng-click="openLink()"></span>
            </div>
        </div>

        <progressbar value="progress" max="100" ng-hide="progress == 0"></progressbar>

        <input type="file" id="logo-src" class="form-control" />
    </div>

    <div class="clear"></div>

    <div class="form-group no-padder  m-t-md">
        <div class="col-xs-4 control-label text-left no-padder">Taille du logo</div>
        <div class="col-xs-8"><input class="logoSlider" id="ex1" data-slider-id='ex1Slider' type="text" /></div>
    </div>

    <div class="clear"></div>

    <div class="form-group no-padder m-t-md">
        <div class="col-xs-4 control-label text-left no-padder">Afficher le logo</div>
        <div class="col-xs-2"><div ng-init="displayed = (displayed.toString() == 'true' ? true : false)" ng-model="displayed" ng-click="displayed = !displayed" ios-switch disabled="true"></div></div>
    </div>

    <div class="clear"></div>

    <hr />
    <strong>Formats acceptés :</strong>
    <br />
    JPG, PNG ou GIF<br /> <br />

    <strong>Tailles recommandées :</strong>
    <br />
    <span class="bold blue">Standard</span> : 300 x 150 pixels<br />
    <span class="bold blue">Haute définition</span> : 600 x 300 pixels
</div>
