<div class="template">
    <div class="template_wrapper col-xs-12 "  >
        <div class="container ">
            <div class="row">
                <div class="row discount" ng-hide="!logoData.displayed && titleTextLength == 0" ng-class="{'no-padder-top' : logoData.size == 100 || !logoData.displayed, 'no-padder-bottom' : titleTextLength == 0 && logoData.size == 100 }" ng-style="{'background' : colorPrimary, 'color': colorSecondary}">
                    <netLogo ng-click="changeUrl('logo')" settings="logoData" ng-class="{active : currentUrl == 'logo', logofloat : logoData.size <= 50, logoblock : logoData.size > 50}" ng-hide="!logoData.displayed" class="component" ng-style="{'width' : logoData.size + '%'}"></netLogo>

                    <netTitle ng-click="changeUrl('title')"  settings="titleData" ng-hide=" titleTextLength == 0" ng-class="{active : currentUrl == 'title', ltextfloat : logoData.size == 42, textfloat : logoData.size == 50 && logoData.displayed, textblock : logoData.size > 50 || !logoData.displayed}" class="component pull-right"></netTitle>
                </div>
				
                <netVideo ng-click="changeUrl('video')" settings="videoData" ng-class="{active : currentUrl == 'logo', logofloat : logoData.size <= 50, logoblock : logoData.size > 50}" ng-hide="!videoData.displayed" class="component" ng-style="{'width' : videoData.size + '%'}"></netVideo>

                <div class="clearfix"></div>

                <netForm ng-style="{'color': colorSecondary}" ng-click="changeUrl('form')" ng-show="(formData.formShow.toString() == 'true' && formData.layouts.position.id == 1 && formData.layouts.position.subPosition == 1)"  settings="formData" ng-class="{active_form:  ( currentUrl == 'form')}" class="component"></netForm>

                <div class="row" ng-if="(sliderData.showSlider.toString() == 'true')">
                    <netSlider ng-style="{'background' : colorPrimary}" ng-click="changeUrl('slider')" class="slider component" settings="sliderData" ng-class="{active : currentUrl == 'slider'}"></netSlider>
                </div>

                <div class="clearfix"></div>

                <netForm ng-style="{'color': colorSecondary}" ng-click="changeUrl('form')" ng-show="(formData.formShow.toString() == 'true' && formData.layouts.position.id == 1 && formData.layouts.position.subPosition == 2)"  settings="formData" ng-class="{active_form:  (currentUrl == 'form')}" class="component"></netForm>

                <div class="clearfix"></div>

                <netText ng-style="{'background' : colorPrimary, 'color': colorSecondary}" ng-click="changeUrl('text')" settings="textData" ng-class="{active : currentUrl == 'text'}" class="component row offers"></netText>

                <netForm ng-style="{'color': colorSecondary}" ng-click="changeUrl('form')" ng-show="( formData.formShow.toString() == 'true' && formData.layouts.position.id == 1 && formData.layouts.position.subPosition == 3)" settings="formData" ng-class="{active_form:  (currentUrl == 'form')}" class="component"></netForm>

                <netStores ng-click="changeUrl('stores')" settings="storesData" titles="storeTitlesData" colorprimary="colorPrimary" colorsecondary="colorSecondary" ng-class="{active : currentUrl == 'stores'}" class="component"></netStores>

                <netForm ng-style="{'color': colorSecondary}" ng-click="changeUrl('form')" ng-show="(formData.formShow.toString() == 'true' && formData.layouts.position.id == 1 && formData.layouts.position.subPosition == 4)" settings="formData" ng-class="{active_form: ( currentUrl == 'form')}" class="component"></netForm>

                <hr />

                <netCgu ng-click="changeUrl('cgu')" settings="cguData" ng-class="{active : currentUrl == 'cgu'}" class="component"></netCgu>

                <div class="clearfix"></div>

                <netForm ng-style="{'color': colorSecondary}" ng-click="changeUrl('form')" ng-show="(formData.formShow.toString() == 'true' && formData.layouts.position.id == 1 && formData.layouts.position.subPosition == 5)" settings="formData" ng-class="{active_form: (currentUrl == 'form')}" class="component"></netForm>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <netMap settings="storesData" id="map-panel" colorprimary="colorPrimary" colorsecondary="colorSecondary" ng-style="{'background' : colorPrimary}" ></netMap>
</div>
