<div class="col-xs-12 settings_header panel-heading"  >
    <div class="settings_title">
        <a ng-click="previous()" class="navigation">
            <i class="glyphicon glyphicon-chevron-left pull-left"></i>
        </a>
        <a ng-click="next()" class="navigation">
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </a>
        Compte à rebours
    </div>
</div>

<div class="col-md-12 panel-body settings_body" ng-controller="CountdownMainSettingsCtrl">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: (nav.toString() == 'carb')}">
            <a href="" ng-click="nav='carb'" >Compte à rebours</a>
        </li>
        <li role="presentation" ng-class="{active: (nav.toString() == 'parameters')}">
            <a href="" ng-click="nav='parameters'">Styles & Paramètres avancés</a>
        </li>
    </ul>
    <br/>
    <div ng-include src="'components/customcountdownComponent/eventsSettings.html'" ng-if="nav=='carb'"></div>
    <div ng-include src="'components/customcountdownComponent/advancedSettings.html'" ng-if="nav=='parameters'"></div>
</div>